.footer {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__title {
    margin: 0;
    padding: 80px 0 0;

    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-align: center;

    color: var(--color-gray-white);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 48px 20px 120px;
  }

  &__form-wrapper {
    width: 100%;
  }

  &__bg-image {
    height: clamp(200px, 44vw, 555px);
    background-image: url('../images/footer-bg.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;

  &__input {
    width: 100%;
    height: 48px;
    margin-bottom: 16px;
    padding: 14px 16px;

    font: inherit;
    border: none;
    border-radius: 40px;
    outline: none;

    &::placeholder {
      font: inherit;
    }

    &:hover {
      box-shadow: 1px 4px 16px #e8e8f066;
    }
  }

  &__textarea {
    width: 100%;
    height: 148px;
    margin-bottom: 32px;
    padding: 14px 16px;

    font: inherit;
    border: none;
    border-radius: 16px;
    outline: none;
    resize: none;

    &::placeholder {
      font: inherit;
    }

    &:hover {
      box-shadow: 1px 4px 16px #e8e8f066;
    }
  }
}

.contacts-info {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-gray-white);
  }

  &__label {
    margin: 0;
    padding-bottom: 8px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
  }

  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    color: var(--color-gray-white);
    text-decoration: none;
  }
}

.button {
  height: 56px;

  font-weight: 700;
  font-size: 16px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

@media (min-width: 744px) {
  .footer {
    &__content {
      display: grid;
      grid-template-columns: minmax(0, 411px) 1fr;
      gap: 24px;

      min-width: 288px;
      margin: 0 auto;
    }

    &__bg-image {
      height: 480px;
    }
  }
}

@media (min-width: 1260px) {
  .footer {
    &__content {
      gap: 198px;
      padding: 180px 120px 164px;
    }

    &__bg-image {
      height: 555px;
    }
  }
}
