@import './main.css';

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer h2 {
  padding: 80px 0 0;
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;
  color: var(--color-gray-white);
}

.footer-img {
  background-image: url(../images/footer-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: clamp(200px, 44vw, 555px);
}

.contact-section {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 48px 20px 120px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-items {
  width: 100%;
  box-sizing: border-box;
  padding: 14px 16px;
  font: inherit;
  border: none;
}

.form-items::placeholder {
  font: inherit;
}

.form-items:hover {
  box-shadow: 1px 4px 16px #e8e8f066;
}

.input {
  height: 48px;
  border-radius: 40px;
  margin-bottom: 16px;
}

.message {
  height: 148px;
  border-radius: 16px;
  margin-bottom: 32px;
  resize: none;
}

.button {
  height: 56px;
  border-radius: 40px;
  font-weight: 700;
  font-size: 16px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-gray-white);
}

.contact-item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  padding-bottom: 8px;
}

.contact-item a {
  text-decoration: none;
  color: var(--color-gray-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
}

@media (min-width: 744px) {
  .footer-img {
    height: 480px;
  }

  .contact-section {
    display: grid;
    grid-template-columns: minmax(0, 411px) 1fr;
    gap: 24px;
    margin: 0 auto;
    min-width: 288px;
  }
}

@media (min-width: 1260px) {
  .contact-section {
    gap: 198px;
    padding: 180px 120px 164px;
  }

  .contact-form {
    width: 100%;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .footer-img {
    height: 555px;
  }
}
