@import './header';
@import './content';
@import './menu';
@import './footer';

:root {
  --color-gray-white: #fff;
  --color-main-bg: #1d1d1d;
  --color-menu: #c2c2c2;

  font-family: Poppins, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-width: 320px;
}

.page {
  background-color: var(--color-main-bg);
  margin: 0;

  &:has(.page__menu:target) {
    overflow: hidden;
  }
}
