@import './main.css';
@import './header.css';

.page-menu {
  position: fixed;

  /* скорочений запис top right bottom left */

  inset: 0;
  background: var(--color-menu);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100%);
  z-index: 10;

  transition:
    opacity 0.3s,
    transform 0.3s;
}

.menu {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.menu-top {
  position: sticky;
  top: 0;
  z-index: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px 20px;
}

.icon-close {
  text-decoration: none;
  width: 24px;
  height: 24px;
  margin: auto 0;
}

.page-menu:target {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

.menu-nav {
  padding: 24px 0 0 20px;
}

.menu-nav a {
  display: inline-block;
  position: relative;
  color: var(--color-main-bg);
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-nav a::after {
  content: '';
  position: absolute;
  background-color: var(--color-main-bg);
  height: 1px;
  width: 0;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.menu-nav a:hover::after {
  width: 100%;
}

.menu-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.test-ride {
  padding-top: 40px;
}

.test-ride ul {
  gap: 16px;
}

.test-ride a {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.test-ride .phone {
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
}

@media (min-width: 744px) {
  .menu-top {
    padding: 36px 72px;
  }

  .menu-nav {
    padding: 24px 0 0 72px;
  }

  .icon-close {
    width: 32px;
    height: 32px;
  }
}

@media (min-width: 1260px) {
  .menu-top {
    padding: 36px 120px;
  }

  .menu-nav {
    padding: 24px 0 0 121px;
  }

  .menu-nav a {
    font-weight: 700;
  }

  .menu-nav a::after {
    height: 2px;
  }

  .test-ride .phone {
    font-weight: 700;
  }
}
